.sidebar{
    background-color: #D9D9D9;
    display: flex;
    min-height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    width: 197px;
    padding: 15px;
}

.content{
    padding-top: 30px;
    margin-left: 5px;
}

*{
    font-family: 'Poppins', sans-serif;
}

.sidebar .content .item .description{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #5A5B5A;
    position: absolute;
    padding-bottom: 11px;

}

.sidebar .content .item{
  margin-top: 40px;
  

}

.sidebar .content .item .icon{
    margin-right: 7px;
}

.dropdown{
        position: relative;
        display: inline-block;
      
}

.sidebar .content .item .collapsible{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #5A5B5A;
    position: absolute;
    padding-bottom: 11px;
}

/* ul .dropdown-content-siswa .show{

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
overflow: hidden;
position: relative;
top: -100%;
padding-top: 11px;
padding-left: 36px;
color: #5A5B5A;

} */

ul li{
    padding-top: 11px;
    padding-left: 5px;
}

.show{
    display: block;
}

.dropdown-content-siswa{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
overflow: hidden;
position: relative;
top: -100%;
display: none;
color: #5A5B5A;
}